---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Servicios',
};
---

<Layout metadata={metadata}>
  <!-- Widget Hero ******************* -->

  <Hero
    tagline="Servicios"
    title="Eleva tus proyectos con nuestras impresionantes plantillas"
    subtitle="Explora nuestras plantillas meticulosamente elaboradas y adaptadas a diversas industrias y propósitos. Desde presentaciones cautivadoras hasta diseños web funcionales, ofrecemos las herramientas que necesitas para tener éxito."
    actions={[{ variant: 'primary', target: '_blank', text: 'Comienza a explorar', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Imagen Hero de AstroWind',
    }}
  />

  <!-- Widget Features2 ************** -->

  <Features2
    title="Explora nuestras diversas plantillas"
    subtitle="Descubre nuestra selección a continuación para optimizar y elevar tus proyectos."
    columns={3}
    items={[
      {
        title: 'Educativas',
        description:
          'Al armonizar el diseño instruccional y el atractivo visual, las plantillas agilizan la creación de contenido para materiales variados, acelerando el desarrollo y cultivando espacios educativos atractivos.',
        icon: 'tabler:school',
      },
      {
        title: 'Diseño de Interiores',
        description:
          'Creando espacios funcionales y visualmente atractivos para uso residencial y comercial. Las plantillas enfatizan la distribución, los colores y la configuración de muebles, ofreciendo un conjunto de herramientas versátil para tu visión de diseño.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Fotografía',
        description: `Empoderando a los fotógrafos, nuestras plantillas facilitan la narración cautivadora. Con un gran enfoque en la distribución, galerías y tipografía, satisfacen tanto a profesionales como a entusiastas.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Comercio Electrónico',
        description:
          'Desarrollando tiendas online atractivas, nuestras plantillas de Comercio Electrónico aseguran una presencia dinámica para mostrar productos de manera efectiva. Ideal para startups o renovaciones.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Blog',
        description:
          'Con atención a la tipografía, estas plantillas empoderan la presentación efectiva de contenido para escritores en cualquier etapa, asegurando blogs visualmente atractivos y fáciles de usar.',
        icon: 'tabler:article',
      },
      {
        title: 'Negocios',
        description:
          'Proporcionando opciones pulidas para una comunicación visual efectiva, estas plantillas empoderan tanto a startups como a empresas establecidas para una presencia de marca profesional.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Branding',
        description:
          'Ofreciendo elementos prediseñados para una identidad de marca consistente, incluyendo logotipos y materiales de marketing. Ideal para nuevas empresas o renovaciones.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Médicas',
        description: `Desde presentaciones hasta formularios para pacientes, estas herramientas mejoran la efectividad de la comunicación para los profesionales de la salud. Ideal para consultorios médicos e investigaciones.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Diseño de Moda',
        description:
          'Con atención al detalle, personalización y diseño contemporáneo, empoderan a los diseñadores para mostrar ideas de manera cohesiva. Ideal para diseñadores de todos los niveles.',
        icon: 'tabler:tie',
      },
    ]}
  />

  <!-- Widget Contenido **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Diseños de Alta Calidad',
        description:
          'Nuestras plantillas presentan diseños de primer nivel que aseguran una apariencia profesional y pulida para tus proyectos.',
        icon: 'tabler:wand',
      },
      {
        title: 'Herramientas de Personalización',
        description:
          'Adapta cada plantilla a tus necesidades únicas con herramientas de personalización fáciles de usar que te permiten personalizar colores, fuentes y contenido.',
        icon: 'tabler:settings',
      },
      {
        title: 'Elementos Prediseñados',
        description:
          'Ahorra tiempo y esfuerzo con nuestros elementos listos para usar, incluyendo gráficos, iconos y diseños que mejoran el atractivo visual de tus creaciones.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Vistas Previas y Maquetas',
        description:
          'Visualiza el resultado final antes de realizar cambios utilizando nuestras vistas previas y maquetas, asegurando que tus proyectos cumplan con tus expectativas.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Imagen de Características',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Características Principales</h3>
    </Fragment>
  </Content>

  <!-- Widget Contenido **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Ahorro de Tiempo',
        description:
          'Optimiza tu flujo de trabajo, permitiéndote crear materiales impresionantes de manera eficiente y dedicar más tiempo a tus tareas principales.',
        icon: 'tabler:clock',
      },
      {
        title: 'Apariencia Profesional',
        description:
          'Eleva tus proyectos con el aspecto pulido y sofisticado que proporcionan nuestras plantillas, causando una impresión duradera en tu audiencia.',
        icon: 'tabler:school',
      },
      {
        title: 'Eficiencia de Costos',
        description:
          'Benefíciate del ahorro de costos evitando la necesidad de trabajo de diseño personalizado, ya que nuestras plantillas ofrecen diseños de calidad profesional a una fracción del costo.',
        icon: 'tabler:coin',
      },
      {
        title: 'Descarga Instantánea',
        description:
          'Disfruta de acceso inmediato a las plantillas elegidas después de la compra, lo que te permite comenzar a trabajar en tus proyectos sin demora.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Imagen de Beneficios',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Beneficios</h3>
    </Fragment>
  </Content>

  <!-- Widget Testimonios *********** -->

  <Testimonials
    title="Palabras de clientes reales"
    testimonials={[
      {
        testimonial: `Los diseños no solo son visualmente atractivos sino también altamente profesionales. Las plantillas me han ahorrado una cantidad significativa de tiempo mientras me ayudan a causar una impresión duradera en mis clientes.`,
        name: 'Emily Kennedy',
        job: 'Desarrolladora front-end',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Imagen de Emily Kennedy',
        },
      },
      {
        testimonial: `Muestra maravillosamente mi trabajo, con su diseño limpio y elegante que permite que mis fotografías brillen. La personalización fue muy fácil, incluso para una persona no técnica como yo. El resultado es un portafolio profesional e inmersivo que ha recibido numerosos cumplidos.`,
        name: 'Sarah Hansen',
        job: 'Fotógrafa',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Imagen de Sarah Hansen',
        },
      },
      {
        testimonial: `Descubrí estas plantillas y estoy impresionado por su variedad y calidad. Me han ayudado a establecer una imagen de marca consistente en mis plataformas de marketing y redes sociales, elevando la apariencia general de mi negocio.`,
        name: 'Mark Wilkinson',
        job: 'Propietario de pequeña empresa',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Imagen de Mark Wilkinson',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Más testimonios...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- Widget CallToAction *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Comienza a explorar',
        href: '/',
      },
    ]}
    title="Sumérgete en nuestra colección de plantillas"
    subtitle="Ya sea que estés en negocios, diseño o educación, nuestras plantillas están aquí para elevar tus proyectos."
  />
</Layout>
