---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Demostración de Página de Inicio Personal',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '#' },
        { text: 'Acerca de', href: '#about' },
        { text: 'Currículum', href: '#resume' },
        { text: 'Portafolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Contrátame',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Widget Hero ******************* -->

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Demostración Web Personal"
    actions={[{ variant: 'primary', text: 'Contrátame', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Soy una Diseñadora Gráfica apasionada por crear historias visuales. <br /> Con 5 años de experiencia y un título de
      la Escuela de Diseño de la Universidad de Nueva York. Infundo vitalidad en marcas y diseños, transformando conceptos en realidades
      cautivadoras.
    </Fragment>
  </Hero>

  <!-- Widget Content **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Imagen Colorida',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Acerca de mí</h2>
      <p>
        Bienvenido/a a mi viaje creativo. Mi trabajo es un testimonio de mi compromiso de dar vida a las ideas, donde cada
        píxel se convierte en una pincelada en el lienzo de la imaginación.
      </p>
      <br />
      <p>
        Encuentro inspiración en el mundo que me rodea, ya sea a través de las páginas de una novela cautivadora, los intrincados
        detalles de la tipografía o los tonos vibrantes de la naturaleza durante mis escapadas al aire libre.
      </p>
      <br />
      <p>Si tienes curiosidad por profundizar en mi trabajo, puedes seguirme:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Steps ****************** -->

  <Steps
    id="resume"
    title="Experiencia laboral"
    items={[
      {
        title:
          'Diseñadora Gráfica <br /> <span class="font-normal">ABC Design Studio, Nueva York, NY</span> <br /> <span class="text-sm font-normal">2021 - Actualidad</span>',
        description: `Colaborar con clientes para comprender los requisitos y objetivos de diseño. <br /> Desarrollar soluciones de branding, incluyendo logotipos, paletas de colores y directrices de marca. <br /> Diseñar materiales de marketing como folletos, carteles y activos digitales. <br /> Crear interfaces de usuario visualmente atractivas para sitios web y aplicaciones.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Diseñadora Gráfica Junior <br /> <span class="font-normal">XYZ Creative Agency, Los Ángeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Asistí a diseñadores senior en la creación de conceptos de diseño y activos visuales. <br /> Contribuí al desarrollo de identidades de marca y material de marketing. <br /> Colaboré con el equipo de marketing para asegurar un diseño consistente en todas las campañas. <br /> Adquirí experiencia práctica en diversos software y herramientas de diseño.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Widget Steps ****************** -->

  <Steps
    id="resume"
    title="Educación"
    items={[
      {
        title: `Máster en Bellas Artes en Diseño Gráfico <br /> <span class="font-normal">Escuela de Diseño de la Universidad de Nueva York</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Grado en Artes en Diseño Gráfico <br /> <span class="font-normal">Escuela de Diseño de la Universidad de Nueva York</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Widget Features3 ************** -->

  <Features3
    title="Habilidades"
    subtitle="Descubre las competencias que me permiten dar vida a la imaginación a través del diseño."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Diseño gráfico',
        description: 'Competente en la creación de diseños visualmente atractivos que transmiten mensajes de manera efectiva.',
      },
      {
        title: 'Branding e identidad',
        description: 'Hábil en el desarrollo de identidades de marca cohesivas, incluyendo logotipos y directrices de marca.',
      },
      {
        title: 'Diseño centrado en el usuario',
        description: 'Con experiencia en la creación de interfaces fáciles de usar y en la optimización de experiencias de usuario.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Hábil en el uso de Photoshop, Illustrator e InDesign para crear y editar elementos visuales.',
      },
      {
        title: 'Tipografía',
        description: 'Experta en seleccionar y manipular tipografías para mejorar la estética del diseño.',
      },
      {
        title: 'Teoría del color',
        description: 'Competente en el uso del color para evocar emociones y mejorar la armonía visual.',
      },
      {
        title: 'Diseño impreso y digital',
        description: 'Conocimientos en diseño tanto para materiales impresos como para plataformas digitales.',
      },
      {
        title: 'Atención al detalle',
        description: 'Diligente en mantener la precisión y la calidad en todo el trabajo de diseño.',
      },
      {
        title: 'Adaptabilidad',
        description: 'Rápida para adaptarse a nuevas tendencias de diseño, tecnologías y preferencias del cliente.',
      },
    ]}
  />

  <!-- Widget Content **************** -->

  <Content
    id="porfolio"
    title="Elevando narrativas visuales"
    subtitle="Embárcate en un viaje de diseño que supera los píxeles, entrando en un reino de imaginación. Explora mi portafolio, donde la pasión y la creatividad convergen para dar forma a narrativas visuales cautivadoras."
    isReversed
    items={[
      {
        title: 'Descripción:',
        description:
          'Desarrollé una identidad de marca integral para una startup tecnológica, Tech Innovators, especializada en innovaciones disruptivas. El objetivo era transmitir una imagen moderna pero accesible que resonara tanto con clientes corporativos como con entusiastas de la tecnología.',
      },
      {
        title: 'Rol:',
        description:
          'Lideré todo el proceso de branding desde el concepto hasta la ejecución. Creé un logotipo dinámico que simbolizaba la innovación, seleccioné una paleta de colores vibrante y diseñé papelería corporativa, gráficos para sitios web y activos para redes sociales.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Imagen de Diseño Tecnológico',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 1: <br /><span class="text-2xl">Identidad de marca para Tech Innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description:
          'Diseñé un cartel de evento cautivador para un festival de arte y música, "ArtWave Fusion", con el objetivo de mostrar la sinergia entre el arte visual y los géneros musicales.',
      },
      {
        title: 'Rol:',
        description: `Traduje el tema creativo del festival en un cartel visualmente impactante. Usé tipografía audaz, colores vibrantes y elementos abstractos para representar la fusión del arte y la música. Me aseguré de que el diseño capturara la atmósfera vibrante del festival.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Imagen de Cartel de Arte y Música',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 2: <br /><span class="text-2xl">Cartel de evento para festival de arte y música</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Rediseñé el sitio web de comercio electrónico para una marca de moda eco-consciente, GreenVogue. El objetivo era alinear la presencia online de la marca con su ética sostenible y mejorar la experiencia del usuario.`,
      },
      {
        title: 'Rol:',
        description: `Realicé un análisis exhaustivo de los valores de la marca y la base de clientes para informar la dirección del diseño. Creé una interfaz visualmente atractiva con navegación intuitiva, destacando materiales sostenibles e integrando una experiencia de compra fácil de usar.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Imagen de Comercio Electrónico de Moda',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 3: <br /><span class="text-2xl">Rediseño de sitio web de comercio electrónico para marca de moda</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Testimonials *********** -->

  <Testimonials
    title="Testimonios de clientes"
    subtitle="Descubre lo que los clientes tienen que decir sobre sus experiencias trabajando conmigo."
    testimonials={[
      {
        testimonial: `Tomó nuestro concepto vago y lo convirtió en una obra maestra visual que se alineó perfectamente con nuestros objetivos. Su atención al detalle y su capacidad para traducir ideas en imágenes convincentes superaron nuestras expectativas.`,
        name: 'Mark Thompson',
        job: 'Director creativo',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Imagen de Mark Thompson',
        },
      },
      {
        testimonial: `Transformó nuestra identidad de marca con su delicadeza creativa, capturando nuestra esencia en cada elemento. Su dedicación y talento realmente brillan a través de su trabajo.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Imagen de Emily Martinez',
        },
      },
      {
        testimonial: `Tiene una extraña habilidad para comunicar emociones e historias. Creó un logotipo para nuestra ONG que no solo representa nuestra causa, sino que también evoca empatía. Su profesionalismo y compromiso la convierten en una diseñadora de calibre excepcional.`,
        name: 'Laura Simmons',
        job: 'Fundadora de una ONG',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Imagen de Laura Simmons',
        },
      },
      {
        testimonial: `Confiamos a Sarah la renovación de la interfaz de usuario de nuestro sitio web, y los resultados fueron asombrosos. Su intuitivo sentido del diseño mejoró la experiencia del usuario, lo que llevó a un aumento significativo en la participación. Es una diseñadora que realmente comprende la sinergia entre estética y funcionalidad.`,
        name: 'Alex Foster',
        job: 'Director de servicios web',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Imagen de Alex Foster',
        },
      },
      {
        testimonial: `Tomó nuestra visión y la elevó más allá de la imaginación. Su capacidad para capturar la esencia de la marca y traducirla en diseño es nada menos que notable. Trabajar con ella ha sido un viaje inspirador.`,
        name: 'Jessica Collins',
        job: 'Gerente de Producto',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Imagen de Jessica Collins',
        },
      },
      {
        testimonial: `Su capacidad para transformar conceptos en imágenes cautivadoras es nada menos que extraordinaria. Tomó nuestra idea de cartel para el evento y la convirtió en una obra maestra visual que capturó perfectamente la esencia de nuestro festival. La dedicación, creatividad y habilidad de Sarah para superar las expectativas la convierten en un activo invaluable para cualquier proyecto.`,
        name: 'Michael Carter',
        job: 'Coordinador de Eventos',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Imagen de Michael Carter',
        },
      },
    ]}
  />

  <!-- Widget CallToAction *********** -->

  <CallToAction
    title="Creemos juntos"
    subtitle="¿Listo/a para transformar tu visión en diseños cautivadores?"
    actions={[
      {
        variant: 'primary',
        text: 'Contrátame',
        href: '/',
      },
    ]}
  />

  <!-- Widget BlogLatestPosts **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explora mis artículos perspicaces en mi blog"
    information={`Sumérgete en un reino de sabiduría del diseño e inspiración creativa, donde encontrarás ideas invaluables, consejos prácticos y narrativas cautivadoras que elevan y enriquecen tu viaje creativo.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
