---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Página de Aterrizaje SaaS',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Iniciar Sesión',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Registrarse',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Widget Hero2 ******************* -->

  <Hero2
    tagline="Demostración Web SaaS"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Comenzar', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Saber más', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Imagen Hero de AstroWind',
    }}
  >
    <Fragment slot="title">
      Simplifica el diseño web con Astrowind: <br /> tu compañero <span class="text-accent dark:text-white"
        >SaaS</span
      > definitivo<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Eleva tu proceso de creación de sitios web con las soluciones SaaS de <span class="font-semibold">AstroWind</span>.</span
      >
      Combina sin problemas el poder de Astro 5.0 y Tailwind CSS para crear sitios web que resuenen con tu marca y audiencia.
    </Fragment>
  </Hero2>

  <!-- Widget Features *************** -->

  <Features
    id="features"
    title="¿Por qué elegir AstroWind?"
    subtitle="Cada una de las siguientes características mejora la propuesta de valor de AstroWind."
    columns={2}
    items={[
      {
        title: 'Integración de Astro 5.0 y Tailwind CSS',
        description:
          'Ofrece una combinación poderosa que mejora tanto el proceso de desarrollo como la experiencia del usuario final. Además, permite construir sitios web dinámicos y visualmente impresionantes con un rendimiento optimizado.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Diseño versátil para startups, pequeñas empresas y más',
        description: `Personaliza fácilmente AstroWind para armonizar con la marca e identidad únicas de tu empresa. El diseño versátil de AstroWind se adapta a tus necesidades.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Personalización sin esfuerzo para portafolios y sitios de marketing',
        description:
          'Con una personalización intuitiva, muestra fácilmente piezas de portafolio, estudios de caso, destacados de proyectos y contenido relevante. Ideal para profesionales creativos y empresas que buscan destacar su experiencia.',
        icon: 'tabler:writing',
      },
      {
        title: 'Páginas de aterrizaje optimizadas y blogs atractivos',
        description: `Las páginas de aterrizaje están diseñadas estratégicamente para cautivar a los visitantes e impulsar acciones específicas. Además, la función de creación de blogs permite compartir ideas y atraer a la audiencia.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Tiempos de carga rápidos y código listo para producción',
        description: `Usar Astro 5.0 asegura una carga rápida y una representación fluida, mejorando la navegación. El código sigue las mejores prácticas, mejorando la experiencia del usuario, el SEO y reduciendo las tasas de rebote.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Estructura optimizada para SEO para una visibilidad mejorada',
        description: `Sigue las mejores prácticas de SEO con código limpio, marcado HTML semántico y carga rápida, mejorando el posicionamiento en motores de búsqueda. La estructura SEO de AstroWind asegura la visibilidad para clientes potenciales.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Widget Content **************** -->

  <Content
    title="Casos de uso"
    subtitle="Descubre cómo la plantilla versátil de AstroWind sirve como la solución ideal para diversos casos de uso, proporcionando soluciones personalizadas para impulsar el éxito."
    isReversed
    items={[
      {
        title: 'Descripción:',
        description:
          '¿Eres una startup con grandes sueños? AstroWind impulsa tu éxito. Nuestra plantilla forja una presencia online fluida, atrayendo inversores y clientes desde el primer día. Astro 5.0 y Tailwind CSS aseguran sitios impactantes y responsivos, dejando impresiones duraderas. Innumerables startups aprovechan AstroWind para iniciar su viaje y resonar con las audiencias.',
      },
      {
        title: 'Beneficios:',
        description: `Permite a las startups crear rápidamente sitios web profesionales sin invertir mucho tiempo y recursos. <br /> Causa una primera impresión memorable con elementos de diseño visualmente atractivos que destacan la propuesta de valor única de tu startup. <br /> Asegura que tu sitio web se vea impresionante y funcione bien en todos los dispositivos. <br /> Atrae a inversores y clientes potenciales con contenido atractivo, mensajes claros y navegación intuitiva.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Imagen de Startup',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Historias de éxito de startups: <br /><span class="text-2xl">Lanzando con AstroWind</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Para las empresas SaaS, la experiencia del usuario es clave. AstroWind mejora la presentación de soluciones SaaS de forma intuitiva. La integración de Astro 5.0 y Tailwind CSS de la plantilla garantiza una experiencia fácil de usar, reflejando la eficiencia de tu software. Personaliza las páginas para comunicar el valor y las soluciones SaaS para tu audiencia.`,
      },
      {
        title: 'Beneficios:',
        description: `Asegurando un diseño cohesivo y centrado en el usuario para tu sitio web SaaS. <br /> Comunica eficazmente características SaaS complejas a través de ayudas visuales, animaciones y elementos interactivos. <br /> Prioriza las necesidades y puntos débiles del usuario a través de diseños bien estructurados y una navegación clara. <br /> Anima a los visitantes a tomar medidas con CTAs estratégicamente ubicados. <br /> Asegura que tu sitio web SaaS funcione sin problemas en todos los dispositivos.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'Imagen de Empresas SaaS',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Escaparate SaaS: <br /><span class="text-2xl">Optimizando la experiencia del usuario</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Tu portafolio es tu obra maestra, y AstroWind es tu lienzo. Ya seas diseñador, fotógrafo, artista o cualquier otro profesional creativo, AstroWind te permite mostrar tu trabajo con elegancia y sofisticación. Diseñadas para destacar tus proyectos creativos, las plantillas de AstroWind ofrecen una experiencia visualmente inmersiva que permite que tu portafolio brille.`,
      },
      {
        title: 'Beneficios:',
        description: `Sirve como un telón de fondo cautivador para mostrar tu trabajo creativo, captando la atención y dejando una impresión duradera. <br /> Adapta tu portafolio para reflejar tu estilo único y visión artística. <br /> Prioriza lo visual, permitiéndote presentar tu trabajo con detalles de alta resolución que atraen a los espectadores a tus creaciones. <br /> Permite una navegación fluida para una exploración del portafolio sin esfuerzo.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Imagen de Portafolio',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Portafolios creativos: <br /><span class="text-2xl">Destacando tu trabajo</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    items={[
      {
        title: 'Descripción:',
        description: `Para las pequeñas empresas, un sitio web bien diseñado puede cambiar las reglas del juego. AstroWind permite a las pequeñas empresas no solo establecer una presencia online creíble, sino también convertir visitantes en clientes leales. El diseño cuidado y las características de optimización de la plantilla aseguran que tu sitio web no solo atraiga la atención, sino que también guíe a los visitantes a través de un viaje fluido, que finalmente conduce a conversiones.`,
      },
      {
        title: 'Beneficios:',
        description: `Presenta tu pequeña empresa con un sitio web profesional y pulido que infunda confianza entre los visitantes. <br /> CTAs estratégicamente ubicados, formularios fáciles de usar y diseños optimizados trabajan juntos para impulsar la participación del usuario y las conversiones. <br /> Asegura una experiencia de navegación fluida, reduciendo las tasas de rebote y fomentando la interacción.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Imagen de Pequeña Empresa',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Crecimiento de pequeñas empresas: <br /><span class="text-2xl">Convirtiendo visitantes en clientes</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Pricing ******************* -->

  <Pricing
    title="Planes de precios flexibles"
    prices={[
      {
        title: 'gratis',
        subtitle: 'Acceso a características principales y una amplia gama de plantillas',
        price: '0',
        period: '/ mes',
        callToAction: {
          target: '_blank',
          text: 'Comenzar Gratis',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Plantillas premium y personalización avanzada',
        price: 15,
        period: '/ mes',
        callToAction: {
          target: '_blank',
          text: 'Actualizar a Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Empresarial',
        subtitle: 'Soluciones a medida para proyectos a gran escala',
        price: 45,
        period: '/ mes',
        callToAction: {
          target: '_blank',
          text: 'Desbloquear Características Empresariales',
          href: '#',
        },
      },
    ]}
  />

  <!-- Widget FAQs ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Es AstroWind compatible con las últimas versiones de Astro y Tailwind CSS?',
        description:
          'Sí, AstroWind está diseñado para ser compatible con las últimas versiones de Astro y Tailwind CSS. Esto asegura que puedas aprovechar todas las capacidades de estas tecnologías mientras te beneficias de las características ofrecidas por AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Puedo usar AstroWind para proyectos personales y comerciales?',
        description: `¡Claro! AstroWind es versátil y se puede utilizar para una amplia gama de proyectos, tanto personales como comerciales. Ya sea que estés construyendo un portafolio profesional, lanzando una startup o creando un sitio web de marketing, AstroWind te cubre.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué nivel de conocimiento de codificación se requiere para usar AstroWind?',
        description:
          'Si bien es útil tener cierta familiaridad con HTML, CSS y conceptos de desarrollo web, la interfaz fácil de usar y las opciones de personalización permiten a aquellos con experiencia limitada en codificación crear sitios web impresionantes. Para usuarios más avanzados, AstroWind ofrece amplias capacidades de personalización.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Hay soporte al cliente disponible para los usuarios de AstroWind que buscan orientación?',
        description: `Absolutamente, nuestro dedicado equipo de soporte al cliente está aquí para ayudarte con cualquier pregunta o desafío que puedas encontrar. No dudes en contactarnos a través de nuestros canales de soporte, y estaremos encantados de brindarte la ayuda que necesitas.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Widget Steps2 ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes preguntas? No dudes en contactarnos usando el formulario a continuación. ¡Estamos aquí para ayudar!"
    callToAction={{
      text: 'Contáctanos',
      href: '/',
    }}
    items={[
      {
        title: 'Envíanos un correo electrónico',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Llámanos',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- Widget BlogLatestPosts **************** -->

  <BlogLatestPosts
    id="blog"
    title="Mantente informado con el blog de AstroWind"
    information={`Explora nuestra colección de artículos, guías y tutoriales sobre desarrollo web, tendencias de diseño y cómo usar AstroWind de manera efectiva para tus proyectos.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
