---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Página de Aterrizaje para Startup',
};
---

<Layout metadata={metadata}>
  <!-- Componente Hero ******************* -->

  <Hero
    tagline="Demostración Web para Startup"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Obtener plantillas',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: 'Saber más', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Mejora <span class="hidden sm:inline">la presencia online de</span> tu <span
        class="text-accent dark:text-white">Startup</span
      > con las plantillas de Astrowind
    </Fragment>

    <Fragment slot="subtitle">
      Entra en el centro de atención con las plantillas de <span class="font-semibold">Astrowind</span>, tu camino para fortalecer la
      huella digital de tu startup, fomentar la credibilidad y expandir tu alcance.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro acaba de lanzarse... ¿Podría ser el framework web definitivo?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Componente Features2 ************** -->

  <Features2
    title="Sobre nosotros"
    subtitle="Creemos en la magia de convertir sueños en realidades impresionantes. Fundados por desarrolladores apasionados con una visión compartida, nos propusimos simplificar el proceso de creación de sitios web. Nuestras plantillas unen la innovación de Astro 5.0 y la versatilidad de Tailwind CSS, permitiéndote expresar tu identidad de marca única como nunca antes."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Componente Stats ****************** -->

  <Stats
    title="Descubre el impacto impresionante de Astrowind"
    subtitle="Los números a continuación reflejan la confianza que nuestros usuarios han depositado en nosotros y los resultados notables que les hemos ayudado a lograr."
    stats={[
      { title: 'Descargas', amount: '182K' },
      { title: 'Sitios Web Lanzados', amount: '87' },
      { title: 'Calificaciones de Usuarios', amount: '4.8' },
      { title: 'Clientes Satisfechos', amount: '116K' },
    ]}
  />

  <!-- Componente Brands ****************** -->

  <Brands
    title="Asociaciones y Colaboraciones"
    subtitle="En Astrowind, creemos en el poder de la colaboración para impulsar la innovación y crear experiencias excepcionales."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- Componente Features2 ************** -->

  <Features2
    title="¿Qué servicios ofrecemos?"
    subtitle="Ofrecemos una amplia gama de plantillas de sitios web que se adaptan a diversas industrias y propósitos, como negocios, portafolios, comercio electrónico, blogs, etc."
    items={[
      {
        title: 'Instrucciones de Instalación',
        description:
          'Ofrecer instrucciones claras sobre cómo descargar las plantillas compradas e instalarlas en diversas plataformas de sitios web o sistemas de gestión de contenido.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demostración y Vistas Previas',
        description:
          'Proporcionar demostraciones interactivas y vistas previas que permitan a los clientes ver cómo se verá y funcionará la plantilla elegida antes de realizar una compra.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Soporte Técnico',
        description:
          'Proporcionar soporte al cliente para cualquier problema técnico relacionado con las plantillas o su implementación.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Componente Features *************** -->

  <Features
    id="features"
    title="Características principales de nuestras plantillas"
    subtitle="Poseen varias características clave para satisfacer eficazmente las necesidades de startups y emprendedores."
    columns={3}
    items={[
      {
        title: 'Diseño Moderno y Profesional',
        description:
          'Tener un diseño contemporáneo que refleje las tendencias de diseño actuales y dé una impresión profesional.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Adaptable y Amigable con Móviles',
        description: 'Adaptarse sin problemas a diferentes tamaños de pantalla y dispositivos para garantizar una experiencia consistente.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Personalización',
        description:
          'Fácilmente personalizable, permitiendo a los usuarios adaptar el diseño, colores, tipografía y contenido para que coincidan con su identidad de marca.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Tiempos de Carga Rápidos',
        description: 'Optimizado para la velocidad para garantizar una experiencia de usuario fluida y clasificaciones favorables en los motores de búsqueda.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Optimización para Motores de Búsqueda (SEO)',
        description:
          'Incorporar las mejores prácticas de SEO en la estructura y el código de la plantilla para mejorar la visibilidad en los resultados de los motores de búsqueda.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Compatibilidad',
        description: 'Las plantillas funcionan sin problemas en diversos sistemas de gestión de contenido y constructores de sitios web.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- Componente FAQs ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué son las plantillas de páginas de aterrizaje?',
        description:
          'Las plantillas de páginas de aterrizaje son diseños de páginas web prediseñados que se crean específicamente para servir como base para construir páginas de aterrizaje efectivas. Estas plantillas están diseñadas para captar la atención de los visitantes y guiarlos hacia una acción u objetivo específico, como suscribirse a un boletín informativo, realizar una compra o descargar un recurso.',
      },
      {
        title: '¿Por qué debería usar una plantilla?',
        description:
          'Algunas de las ventajas son que proporcionan una estructura lista para usar, ahorrándote un tiempo significativo. Están diseñadas pensando en la facilidad de uso y proporcionan una alternativa rentable, ahorrándote dinero sin dejar de ofrecer un resultado de calidad.',
      },
      {
        title: '¿Puedo previsualizar las plantillas antes de comprar?',
        description:
          'Sí, las plantillas te permiten previsualizarlas antes de realizar una compra. Hay un botón de "Demostración" asociado con cada plantilla.',
      },
      {
        title: '¿Necesito habilidades técnicas para usar una plantilla?',
        description:
          'No se requieren habilidades técnicas avanzadas para usar una plantilla, pero tener una comprensión básica de la navegación web y familiaridad con el uso de herramientas en línea aún puede ser beneficioso. Si tienes necesidades de personalización más específicas, es posible que necesites consultar guías o contactar al soporte al cliente para obtener ayuda.',
      },
      {
        title: '¿Puedo usar la plantilla en múltiples sitios web?',
        description:
          'No, la plantilla viene con una licencia de un solo uso, lo que significa que puedes usar la plantilla en un solo sitio web o proyecto. Usar la plantilla en sitios web adicionales requeriría comprar licencias adicionales.',
      },
      {
        title: '¿Qué pasa si necesito ayuda con la personalización?',
        description:
          "Las plantillas proporcionan una guía completa paso a paso que te guía a través del proceso de personalización. Si aún tienes dudas, puedes contactar a nuestro equipo de soporte al cliente. Pueden responder tus preguntas, proporcionar orientación sobre la personalización y abordar cualquier problema que enfrentes.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Componente Features3 ************** -->

  <Features3
    title="Dinos cómo podemos ayudar"
    subtitle="Estamos aquí para ayudar y responder cualquier pregunta que puedas tener."
    columns={4}
    items={[
      {
        title: 'Teléfono',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Llámanos',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Correo Electrónico',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Escríbenos',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chatear con ventas',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Comenzar a chatear',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chatear con soporte',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Comenzar a chatear',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- Componente CallToAction *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Obtener plantillas',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Sé parte de nuestra visión</Fragment>

    <Fragment slot="subtitle">
      Descubre un entorno de trabajo dinámico, oportunidades de crecimiento incomparables y la oportunidad de tener un impacto significativo.
    </Fragment>
  </CallToAction>
</Layout>
